<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form (ngSubmit)="onSubmit(f)" #f="ngForm">

        <div id="user-data">
          <div class="form-group">
            <label for="hours">Hours worked</label>
            <input type="text" id="hours" class="form-control" ngModel name="hours" required #hoursSpent="ngModel">
            <span class="help-block" *ngIf="!hoursSpent.valid && hoursSpent.touched">Insert A Description</span>
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <input type="textarea" id="desc" class="form-control" ngModel name="desc" required #description="ngModel">
            <span class="help-block" *ngIf="!description.valid && description.touched">Insert A Description</span>
          </div>
        </div>
        <div class="form-group">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>



    </div>
  </div>
</div>
