<div class="  justify-center ">
  <div class="container">
    <ul class="list-group px-0">
      <li class="list-group-item" *ngFor="let acc of arrayData; let i = index">
        <p>{{acc.hours}} {{acc.desc}} </p>
        <button id="burgerButton" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onDeleteListing(acc.id)">
            <mat-icon>close</mat-icon>
            <span>Delete</span>
          </button>
          <button mat-menu-item (click)="onHandleClose(); getId(i)">
            <mat-icon>refresh</mat-icon>
            <span>Change</span>
          </button>
        </mat-menu>
      <li>
    </ul>
  </div>
</div>
<app-change *ngIf="onChange" (close)="onHandleClose()" [dataId]="arrayData[i].id" [ogHour]="arrayData[i].hours"
            [ogDesc]="arrayData[i].desc"></app-change>
